[submodule ".tmux/powerline"]
	path = .tmux/powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "tmux/powerline"]
	path = tmux/powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "resources/fonts"]
	path = resources/fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "resources/fonts/powerline"]
	path = resources/fonts/powerline
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "config/awesome/lain"]
	path = config/awesome/lain
	url = https://github.com/copycat-killer/lain.git
